<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
        <link rel="stylesheet" <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}" />

        {% block basehead %} {% endblock basehead %}

        <title>Django Ajax!</title>
    </head>

    <body>
        {% block content %} {% endblock content %}

        <script src="{% static 'js/bootstrap.js' %}"></script>
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
        {% include 'jquery.html' %}
    </body>
</html>
